@model Lab10.Models.detallesdepedidos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detallesdepedidos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedidos.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedidos.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productos.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productos.nombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
