@model IEnumerable<Lab10.Models.productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadPorUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadesEnExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadesEnPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelNuevoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoriaProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorias.nombrecategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedores.nombreCompañia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadPorUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadesEnExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadesEnPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelNuevoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suspendido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoriaProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorias.nombrecategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedores.nombreCompañia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idproducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idproducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idproducto })
        </td>
    </tr>
}

</table>
