@model Lab10.Models.proveedores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCompañia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCompañia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombrecontacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrecontacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargocontacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargocontacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paginaprincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginaprincipal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
